@use '../base' as *;

$adj-img-w:72vw;
$adj-img-h:32vw;
.projects-container {
  position: relative;
  width: 80vw;
  height: auto;

  margin: 0 auto;
  margin-top: $container-top;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;

  

  @include mq(sm) {
    width: 100%;
    gap: 0;
  }

  .projects-each {
    position: relative;

    $item-w: 720px;
    $item-h: 320px;
    width: $adj-img-w;
    height: $adj-img-h;
    max-width: $item-w;
    max-height: $item-h;


    // margin-bottom: 5rem;

    @include mq(sm) {
      width: 100%;
      height: auto;
      margin-bottom: 2rem;
    }

    .project-item {
      //子元素2级父级
      position: relative;
      @include mq(sm) {
        margin: 0 1rem;
      }
      a {
        width: 100%;
        // height: $item-h;
        @include mq(sm) {
          display: block;
          width: 100%;
          height: 40vw;
          // border: red 1px solid;

        }
      }

      .portfolio-img {
        width: 100%;
        max-height: $item-h; //要有高度，阴影才会生效。
        height: $adj-img-h;
        object-fit: cover;

        box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.1);
        transition: opacity 0.35s, transform 0.35s;

        @include mq(sm) {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .project-info {
        opacity: 0;
        transition: opacity 0.55s, transform 0.35s;

        position: absolute;
        right: -8rem;
        top: 0;
        width: 200px;
        max-height: $item-h; //要有高度，阴影才会生效。
        height: $adj-img-h;

        @include mq(sm) {
          display: none;
        }

        .title {
          position: absolute;
          top:40%;
          font-family: "Inter";
          font-style: normal;
          font-weight: 600;
          font-size: 1.5rem;
          line-height: 40px;
          white-space:nowrap;
        }
        .time {
          position: absolute;
          bottom: 1rem;
          color: #5c5c5c;
          font-size: .5rem;
        }

        .category {
          position: absolute;
          bottom: 0;
          color: #5c5c5c;
          white-space:nowrap;
          font-size: .5rem;
        }
      }

      &:hover {
        .portfolio-img {
          z-index: 2;
          box-shadow: 16px 16px 0px rgb(255, 251, 18);
          transform: scale(0.95) rotate(2deg) translate(-15 * $unit, 0);
          transition: opacity 0.35s, transform 0.35s;

          @include mq(sm) {
            box-shadow: 6px 8px 0 rgb(255, 251, 18);
            transform: scale(0.98) rotate(2deg) ;
            transition: transform 0.35s;
          }
        }

        .project-info {
          opacity: 1;
          transition: opacity 0.5s, transform 0.35s;
        }
      }
    }
  }
}
