@use '../base' as *;
.sketches-container {
  position: relative;
  width: 80vw;
  max-width: 1330px;

  margin: 0 auto;
  margin-top: $container-top;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transition: all 0.5s;
  gap: 5rem;

  @include mq(sm) {
    width: 100%;
    gap: 0;
  }

  .sketch-each {
    @include mq(sm) {
      width: 50%;
      height: auto;
      
    }


    .sketch-item {
      width: 150px;
      height: 150px;
      @include mq(sm) {
        margin: 0 1rem 2rem 1rem;
        width: auto;
        height: auto;
      }

      a{
        display: block;

        img {
          display: block;
          width: 100%;
          height: 150px;
          object-fit: cover;
          box-shadow: 10px 20px 40px 0px rgba(0, 0, 0, 0.07);
          transition: opacity 0.35s, transform 0.3s;

          @include mq(sm) {
            width: 100%;         
            height: auto;
          }

        }

      }
    
    
      &:hover {
        img {
          background: #efefef;
          box-shadow: 8px 8px 0px #ffff00;
          transform: rotate(3.5deg) scale(1.1);
          transition: opacity 0.35s, transform 0.3s;

          @include mq(sm) {
            box-shadow: 6px 8px 0 rgb(255, 251, 18);
            transform: scale(0.98) rotate(2deg) ;
            transition: transform 0.35s;
          }
        }
      }
    }


  }

 
  


}

